# Print

In [1]:
print("My first project on python")

My first project on python

In [2]:
print(10, 12 ,20.354)

10 12 20.354

In [3]:
print()

In [4]:
print("owais","uzair","usaid","humaid")

owais uzair usaid humaid

In [5]:
print("owais","uzair","usaid","humaid", sep="")

owaisuzairusaidhumaid

In [6]:
print("owais","uzair","usaid","humaid", sep="        ")

owais        uzair        usaid        humaid

In [7]:
print("owais","uzair","usaid","humaid", sep=" arshad ")

owais arshad uzair arshad usaid arshad humaid

In [8]:
print("owais")
print("uzair")
print("usaid")
print("humaid")

owais
uzair
usaid
humaid

In [9]:
print("owais", end="")
print("uzair", end="")
print("usaid", end="")
print("humaid")

owaisuzairusaidhumaid

In [10]:
print("owais", end="\t")
print("uzair", end="\t")
print("usaid", end="\t")
print("humaid")

owais	uzair	usaid	humaid

In [11]:
print("owais", end="\n\n")
print("uzair", end="\n\n")
print("usaid", end="\n\n")
print("humaid")

owais

uzair

usaid

humaid

In [12]:
print("owais", end="\'")
print("uzair", end="\'")
print("usaid", end="\'")
print("humaid")

owais'uzair'usaid'humaid

In [13]:
print("owais", end="\r")
print("uzair", end="\r")
print("usaid", end="\r")
print("humaid")

humaid

In [14]:
print("owais", end="\a")
print("uzair", end="\a")
print("usaid", end="\a")
print("humaid")

owaisuzairusaidhumaid

In [15]:
print("owais", end=" \b")
print("uzair", end=" \b")
print("usaid", end=" \b")
print("humaid")

owais uzair usaid humaid

In [16]:
print("owais", end="\b 1 ")
print("uzair", end="\b 2 ")
print("usaid", end="\b 3 ")
print("humaid", end="\b 4 ")

owais 1 uzair 2 usaid 3 humaid 4

In [17]:
print("owais\b1")
print("uzair\b2")
print("usaid\b3")
print("humaid\b4")

owais1
uzair2
usaid3
humaid4

In [18]:
print("owais", end=" \b 1 ")
print("uzair", end=" \b 2 ")
print("usaid", end=" \b 3 ")
print("humaid", end=" \b 4 ")

owais  1 uzair  2 usaid  3 humaid  4

# Variables and type checking

In [19]:
a=93

In [20]:
type(a)

int

In [21]:
a=009.5

In [22]:
type(a)

float

In [23]:
a="owais"

In [24]:
type(a)

str

# Math operation

In [25]:
a=99
b=98
c=987
sum=a+b-c
print(sum)

-790

In [26]:
d=sum
ans=8/d
print(ans)

-0.010126582278481013

In [27]:
ans*10

-0.10126582278481013

In [28]:
10/10

1.0

In [29]:
10//10

1

In [30]:
3/50

0.06

In [31]:
3%50

3

# Comments

In [32]:
# the answer is the rminder of 3/50
# whhen we use "%" this sign it give
# us reminder not the answer

# If else statement and boolen

In [33]:
name="owais"
name=="owais"

True

In [34]:
name=="ali"

False

In [35]:
per = 80
per==80

True

In [36]:
per!=80

False

In [37]:
per>=80

True

In [38]:
per<=80

True

In [39]:
per>80

False

In [40]:
per<80

False

# Nested if

In [41]:
per=90
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

A+
A
B
c

In [42]:
per=89
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

A+
A
B
c

In [43]:
per=80
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

A+
A
B
c

In [44]:
per=79
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
A
B
c

In [45]:
per=70
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
A
B
c

In [46]:
per=69
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
not able to A
B
c

In [47]:
per=60
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
not able to A
B
c

In [48]:
per=59
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
not able to A
not able to B also
c

In [49]:
per=50
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
not able to A
not able to B also
c
Bal bal bacha hai shukar mana C a gaya warna latk jata

In [50]:
per=49
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
not able to A
not able to B also
kanjar tu C k like bh nh tha
chutye 1 per le leta to pass ho jata 1 per se latak gaya na
fail ho gaya chal nkl ab ja kr rote rhe

In [1]:
per=40
if per>=80:
    print("A+")
else:
    print("not able to A+")
if per>=70:
    print("A")
else:
    print("not able to A")
if per>=60:
    print("B")
else:
    print("not able to B also")
if per>=50:
    print("c")
if per==50:
    print("Bal bal bacha hai shukar mana C a gaya warna latk jata") 
if per<50:
    print("kanjar tu C k like bh nh tha")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
if per<50:
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

not able to A+
not able to A
not able to B also
kanjar tu C k like bh nh tha
fail ho gaya chal nkl ab ja kr rote rhe
tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do

#  elif

In [5]:
per=int(input())
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<49:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe chutye")
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

49
chutye 1 per le leta to pass ho jata 1 per se latak gaya na

In [53]:
per=70
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

A

In [54]:
per=69
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

B

In [55]:
per=60
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

B

In [56]:
per=59
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

C

In [57]:
per=50
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

C

In [58]:
per=49
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

Fail
kanjar tu C k like bh nh tha
fail ho gaya chal nkl ab ja kr rote rhe
chutye 1 per le leta to pass ho jata 1 per se latak gaya na

In [59]:
per=40
if per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

Fail
kanjar tu C k like bh nh tha
fail ho gaya chal nkl ab ja kr rote rhe
tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do

# List

In [60]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [61]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [62]:
nums[0]

1

In [63]:
nums[-1]

20

In [64]:
# "0" is the first index of list "nums" when we count left to right
# and when we count right to left it starat from "-1"
# every list have same rule of counting

In [65]:
len(nums)

20

In [66]:
nums.append(21)

In [67]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [68]:
nums.insert(23,22)

In [69]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [70]:
#append add the value at the last But in insert we give the index to define the position of the value which we want to add

In [71]:
nums.extend([23,24,25,26])

In [72]:
nums

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

In [73]:
#both in above function we can add just a value but in extend we can add the number of value

In [74]:
nums.index(14)

13

In [75]:
nums2=nums.copy()

In [76]:
nums2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

In [77]:
#when we use copy function it make the copy of refrence list not make another variable of same list
#when we code like this "nums2=nums" it make another variable for same list not makimg a copy of refrence list

In [78]:
nums

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

In [79]:
nums.remove(25)

In [80]:
nums

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26]

In [81]:
del nums[-1]

In [82]:
nums.sort()

In [83]:
#when we use del or removefunction it remove perminently we can't call the del or remove value again

In [84]:
nums

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [85]:
nums.pop()

24

In [86]:
nums.pop(17)

18

In [87]:


popped_nums=nums.pop()

In [88]:
popped_nums

23

In [89]:
a=[7, 12, 65, 76, 90, 98, 98776]

In [90]:
a.sort()

In [91]:
a

[7, 12, 65, 76, 90, 98, 98776]

In [92]:
a.reverse()

In [93]:
a

[98776, 98, 90, 76, 65, 12, 7]

In [94]:
a.sort(reverse=True)

In [95]:
a

[98776, 98, 90, 76, 65, 12, 7]

In [96]:
a=[20,5403.32,"owais",["Ali",30,50.6]]
if 20 in a:
    print("available")
else:
    print("Not available")
if 5403.32 in a:
    print("available")
else:
    print("Not available")
if "owais" in a:
    print("available")
else:
    print("Not available")
if ["Ali",30,50.6] in a:
    print("available")
else:
    print("Not available")
if "fuits" in a:
    print("available")
else:
    print("Not available")

available
available
available
available
Not available

In [14]:
list

list

In [ ]:
close_friends_list= [6565644,43,443,434,34]
flag = True
while flag:
        close_friends=input("Enter your close friends name or q to quite") 
        if close_friends == "q":
            flag = False

In [ ]:
fruits_name= ["apple","mango","Bannana","cherry","Grappes","Pomegrant","papaya","injeer","water millon","Millon","Pine apple"]
flag = True
while flag:
    fruits_name=input("Enter fruits name or d to close")
    if "input" in fruits_name:
         print("Avialable")
    if fruits_name == "d":
        flag=False

In [106]:
List= []
for a in range(4):
    List=input("Enter your percentage")
      List.append(your_percentage)

IndentationError: unexpected indent (<ipython-input-106-d97d47d65618>, line 4)

In [104]:
List

'4'

In [ ]:
num=[]
for a in range(4):
    num=input("Enter your number")

In [11]:
per=int(input("Enter your percentage"))
if per>=85:
    print("A+")
    print("Bhai party kb dai rha")
elif per >=80:
    print("A+")
elif per>=70:
    print("A")
elif per>=60:
    print("B")
elif per>=50:
    print("C")
elif per<50:
    print("Fail")
    print("kanjar tu C k like bh nh tha")
    print("fail ho gaya chal nkl ab ja kr rote rhe")
if per==49:
    print("chutye 1 per le leta to pass ho jata 1 per se latak gaya na" )
elif per<=40:
    print("tu hai hi nalaik parhna likhna sare bais bs pagl panti krne de do")

Enter your percentage90
A+
Bhai party kb dai rha

In [1]:
for a in range(999999999999999999999):
    a=eval(input("Enter the eqn "))
    print(a)
    del a 
    continue

Enter the eqn 25+64
89
Enter the eqn sad+887

NameError: name 'sad' is not defined

In [ ]:
n=