In [2]:
import pandas as pd
import numpy as np
import math as mt

In [37]:
tax_slabes=pd.read_html("https://taxsummaries.pwc.com/pakistan/individual/taxes-on-personal-income")[1]
#tax_slabes=tax_slabes
tax_slabes

,0,1,2,3
0,Taxable income (PKR*),Taxable income (PKR*),Tax on column 1 (PKR),Percentage on excess (%)
1,Over,Not Over,NaN,NaN
2,0,600000.,NaN,0%
3,600000,1200000.,NaN,5%
4,1200000,1800000.,30000,10%
5,1800000,2500000.,90000,15%
6,2500000,3500000.,195000,17.5%
7,3500000,5000000.,370000,20%
8,5000000,8000000.,670000,22.5%
9,8000000,12000000.,1345000,25%
10,12000000,30000000.,2345000,27.5%
11,30000000,50000000.,7295000,30%
12,50000000,75000000.,13295000,32.5%
13,75000000,NaN,21420000,35%

In [4]:
c1=np.array(list(tax_slabes[0][2:14]))
c2=np.array(list(tax_slabes[1][2:14]))
c3=np.array(list(tax_slabes[2][2:14]))
c4=np.array(list(tax_slabes[3][2:14]))
c1=c1.astype('float64')
c2=np.where(c2=='nan',mt.inf,c2).astype('float64')
c3=np.where(c3=='nan',0,c3).astype('float64')
c4=np.where(c4=='nan','0%',c4).astype('str')

In [25]:
data={'Income_Over':c1,'Income_Not_Over':c2,'Tax_on_first_column_PKR':c3,'Percentage_on_excess':c4}

In [26]:
df=pd.DataFrame(data)
tax_slabes=df
tax_slabes

    Income_Over  Income_Not_Over  Tax_on_first_column_PKR Percentage_on_excess
0           0.0         600000.0                      0.0                   0%
1      600000.0        1200000.0                      0.0                   5%
2     1200000.0        1800000.0                  30000.0                  10%
3     1800000.0        2500000.0                  90000.0                  15%
4     2500000.0        3500000.0                 195000.0                17.5%
5     3500000.0        5000000.0                 370000.0                  20%
6     5000000.0        8000000.0                 670000.0                22.5%
7     8000000.0       12000000.0                1345000.0                  25%
8    12000000.0       30000000.0                2345000.0                27.5%
9    30000000.0       50000000.0                7295000.0                  30%
10   50000000.0       75000000.0               13295000.0                32.5%
11   75000000.0              inf               21420000.0                  35%

# Test code

In [193]:
a=int(input("Enter your income: "))
if(a>=0 and a<=600000):
    tax=0
elif(a>=600000 and a<1200000):
    a=a-600000
    tax=a/100*5
elif(a>=1200000 and a<1800000):
    a=a-1200000
    tax=a/100*10+30000
elif(a>=1800000 and a<2500000):
    a=a-1800000
    tax=a/100*15+90000
else:
    a=a-2500000
    tax=a/100*17.5+195000
print(tax)

Enter your income: 3500000
370000.0

In [36]:
income=input("Enter your income: ")
try:
    income=int(income)
    if income>=0:
        ind1=np.where(income>=tax_slabes.Income_Over)
        ind2=np.where(income<tax_slabes.Income_Not_Over)
        ind=np.intersect1d(ind1,ind2)
        if(len(ind)==1):
            ind=ind[0]
            tax_label=tax_slabes.filter(items=[ind],axis=0)
            per_exced=tax_label.Percentage_on_excess[ind]
            per_exced=float(per_exced[0:len(per_exced)-1])
            tax_of_column_one=tax_label.Tax_on_first_column_PKR[ind]
            if ind!=0:
                income=income-tax_label.Income_Over[ind]
            tax_apply=income/100*per_exced+tax_of_column_one
            print(tax_apply)
            display(tax_label)
        elif (len(ind)<1):
            print("length of index is less than 1")
        else:
            print('length of index is excede from 1')
    else:
        print("Income is must be greater than 0")
except:
    print("error")
    pass
finally:
    display(tax_slabes)

Enter your income: 66565645
18678834.625

    Income_Over  Income_Not_Over  Tax_on_first_column_PKR Percentage_on_excess
10   50000000.0       75000000.0               13295000.0                32.5%

    Income_Over  Income_Not_Over  Tax_on_first_column_PKR Percentage_on_excess
0           0.0         600000.0                      0.0                   0%
1      600000.0        1200000.0                      0.0                   5%
2     1200000.0        1800000.0                  30000.0                  10%
3     1800000.0        2500000.0                  90000.0                  15%
4     2500000.0        3500000.0                 195000.0                17.5%
5     3500000.0        5000000.0                 370000.0                  20%
6     5000000.0        8000000.0                 670000.0                22.5%
7     8000000.0       12000000.0                1345000.0                  25%
8    12000000.0       30000000.0                2345000.0                27.5%
9    30000000.0       50000000.0                7295000.0                  30%
10   50000000.0       75000000.0               13295000.0                32.5%
11   75000000.0              inf               21420000.0                  35%

In [20]:
t=int(input())
ind1=np.where(t>=tax_slabes.Income_Over)      #ind = index
ind2=np.where(t<tax_slabes.Income_Not_Over)

ind=np.intersect1d(ind1,ind2)
if(len(ind)==1):
    ind=ind[0]      
    tax_slabe=tax_slabes.filter(items=[ind],axis=0)
    display(tax_slabe)
    if ind!=0:
        t=t-tax_slabes.Income_Not_Over[ind-1]
        display(t)
elif (len(ind)<1):
    print("length of index is less than 1")
else:
    print('length of index is excede from 1')

4342

   Income_Over  Income_Not_Over  Tax_on_column_1_(PKR) Percentage_on_excess
0          0.0         600000.0                    0.0                   0%

In [15]:
tax_slabe.Percentage_on_excess[ind[0]][0:len]

'3'

In [16]:
ind

array([11], dtype=int64)

In [30]:
income=input("Enter your income: ")
income=int(income)
if income>=0:
    ind1=np.where(income>=tax_slabes.Income_Over)
    ind2=np.where(income<tax_slabes.Income_Not_Over)
    ind=np.intersect1d(ind1,ind2)
    if(len(ind)==1):
        ind=ind[0]
        tax_label=tax_slabes.filter(items=[ind],axis=0)
        per_exced=tax_label.Percentage_on_excess[ind]
        per_exced=float(per_exced[0:len(per_exced)-1])
        tax_of_column_one=tax_label.Tax_on_first_column_PKR[ind]
        if ind!=0:
            income=income-tax_slabes.Income_Not_Over[ind-1]
        tax_apply=income/100*per_exced+tax_of_column_one
        print(tax_apply)

    elif (len(ind)<1):
        print("length of index is less than 1")
    else:
        print('length of index is excede from 1')
else:
    print("Income is must be greater than 0")

Enter your income: 3455344534
1204540586.9

In [35]:
print(((55432434-50000000.0)/100*32.5)+13295000.0)
print(1,50,60,541.05)

15060541.05
1 50 60 541.05

In [289]:
tax_slabes.Not_Over[0]

600000.0

In [298]:
#400000/100*int(tax_slabes['Percentage_on_excess_(%)'][0])
percent=(tax_slabes['Percentage_on_excess_(%)'][0])
percent=int(percent[0:len(percent)-1])
percent*100

0

In [377]:
ind1=tax_slabes[tax_slabes["Income_Over"]==0].index.values
ind2=tax_slabes[tax_slabes["Income_Not_Over"]==600000].index.values
ind1==ind2

array([ True])

In [383]:
tax_slabes.filter(items=['Income_Over',])

    Income_Over
0             0
1        600000
2       1200000
3       1800000
4       2500000
5       3500000
6       5000000
7       8000000
8      12000000
9      30000000
10     50000000
11     75000000

In [142]:
init_df=pd.DataFrame(data1)

In [143]:
data={'Taxable income (PKR*)':data1}
init_df2=pd.DataFrame(c3)

In [144]:
init_df2.join(init_df)

           0      Over   Not Over
0        NaN         0    600000.
1        NaN    600000   1200000.
2      30000   1200000   1800000.
3      90000   1800000   2500000.
4     195000   2500000   3500000.
5     370000   3500000   5000000.
6     670000   5000000   8000000.
7    1345000   8000000  12000000.
8    2345000  12000000  30000000.
9    7295000  30000000  50000000.
10  13295000  50000000  75000000.
11  21420000  75000000        NaN

In [103]:
pd.DataFrame()

            0
0     600000.
1    1200000.
2    1800000.
3    2500000.
4    3500000.
5    5000000.
6    8000000.
7   12000000.
8   30000000.
9   50000000.
10  75000000.
11        NaN

In [122]:
4*12

48

In [123]:
48/2

24.0

In [276]:
t='123%'
t=int(t[0:len(t)-1])
print(t , type(t))

123 <class 'int'>