In [1]:
print()

In [2]:
print(100)  #integer value

100

In [3]:
print(100.5)  #folating point value

100.5

In [4]:
print(100,100.5)  #integer, folating pint value

100 100.5

In [5]:
print("Owais")  #string

Owais

In [6]:
print("Owais", "Uzair", "Usaid", "Humaid" )

Owais Uzair Usaid Humaid

In [7]:
print("Owais", "Uzair", "Usaid", "Humaid", sep="")

OwaisUzairUsaidHumaid

In [8]:
print("Owais", "Uzair", "Usaid", "Humaid", sep="  ")

Owais  Uzair  Usaid  Humaid

In [9]:
print("Owais", "Uzair", "Usaid", "Humaid", sep="\t")

Owais	Uzair	Usaid	Humaid

In [10]:
print("Owais", "Uzair", "Usaid", "Humaid", sep="\n")

Owais
Uzair
Usaid
Humaid

In [11]:
print("Owais", "Uzair", "Usaid", "Humaid", sep=" @@@@@ ")

Owais @@@@@ Uzair @@@@@ Usaid @@@@@ Humaid

In [12]:
print("Owais", "Uzair", "Usaid", "Humaid", sep=" + ")

Owais + Uzair + Usaid + Humaid

In [13]:
print("Owais", "Uzair", "Usaid", "Humaid", sep=" i am a seprater ")

Owais i am a seprater Uzair i am a seprater Usaid i am a seprater Humaid

In [14]:
print("owais1")
print("owais2")
print("owais3")

owais1
owais2
owais3

In [15]:
print("owais1", end="")
print("owais2", end="")
print("owais3")

owais1owais2owais3

In [16]:
print("owais1", end=" ")
print("owais2", end=" ")
print("owais3")

owais1 owais2 owais3

In [17]:
print("owais1", end="\t")
print("owais2", end="\t")
print("owais3")

owais1	owais2	owais3

In [18]:
print("owais1", end="\n\n")
print("owais2", end="\n\n")
print("owais3")

owais1

owais2

owais3

In [19]:
print("owais1", end="\\")
print("owais2", end="\\")
print("owais3")

owais1\owais2\owais3

In [20]:
print("owais1", end="\'")
print("owais2", end="\'")
print("owais3")

owais1'owais2'owais3

In [21]:
print("owais1", end="\"")
print("owais2", end="\"")
print("owais3")

owais1"owais2"owais3

In [22]:
print("owais1", end="\a")
print("owais2", end="\a")
print("owais3")

owais1owais2owais3

In [23]:
print("owais1", end="\b")
print("owais2", end="\b")
print("owais3")

owais1owais2owais3

In [24]:
print("owais \b 1")
print("owais \b 2")
print("owais \b 3")

owais  1
owais  2
owais  3

In [25]:
print("Helo \b world!")

Helo  world!

In [26]:
print("Hello \b World!")

Hello  World!

In [27]:
print("Hello \f World!")

Hello  World!

In [28]:
print("Hello\nWorld!")

Hello
World!

In [29]:
print("Hello\rWorld!")

World!

In [30]:
print("Hello \v World!")

Hello  World!

In [31]:
a=10
      # a is variable name (identifier)
      # = assigment operater
      # 10 value (Integer value)
print(a)

10

In [32]:
type(a)

int

In [33]:
a=10.6

print(a)

10.6

In [34]:
type(a)

float

In [35]:
# In python there is no need to defined type of variable it adjust it self

In [36]:
city="karachi"
 
print(city)

karachi

In [37]:
type(city)

str

In [38]:
student_name="Owais Ali"
father_name=" Arshad"

In [39]:
print(student_name + father_name)

Owais Ali Arshad

In [40]:
# In string it dose not add the two valuebut combined them

In [41]:
#such as

a="10"
b="24"
#because of inverted comma ("") interperater read it as a string 
print(a+b)
#because the value is string so it can not plus the above value or make it "34" but it combined them and make it "1024"

1024

# Math operation

In [42]:
# Operators{/,*,+,-}

In [43]:
print(23+34)

57

In [44]:
a=23
b=34
c=a+b
print(c)

57

In [45]:
value1=100
value2=10.5
sum=value2-value1
print(sum)

-89.5

In [46]:
value1=100
value2=100
sum=value2/value1
print(sum)

1.0

In [47]:
#It give folating value because by default on division python give folating values

In [48]:
sum=value1//value2
print(sum)

1

In [49]:
#because of double sign of divison "//" it give integer value because it discard the decimal point value as shown below

In [50]:
value1=100
           #the ans is 0.5    
value2=200
sum=value1//value2
print(sum)

0

In [59]:
close_friends_list=()
flag = True
while flag:
        close_friends=input("Enter your close friends name or cherry to quite") 
        if close_friends == "cherry":
            flag = False
        close_friends_list

Enter your close friends name or cherry to quiteapp;e

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
fruits_name= ["apple","mango","cherry","Bannana","Grappes","Pomegrant","papaya","injeer","water millon","Millon","Pine apple"]
if close_friends_list in fruits_name:
    print("avilable")
else:
    print("not avilabe")

avilable

In [53]:
print("owais")

owais