In [3]:
class Dog:
    total=0
    def___init___(self,name,age):
        self.name=name
        self.age=age
        Dog.total +=1

SyntaxError: invalid syntax (<ipython-input-3-1b14545ae2ea>, line 3)

In [8]:
# Input Data
"""
Labels = ['gender', 'parental level of education', 'test preparation course', 'math score', 'reading score', 'writing score']
Data = [
['female', "bachelor's degree", 'none', '72', '72', '74'],
['female', 'some college', 'completed', '69', '90', '88'],
['female', "master's degree", 'none', '90', '95', '93'],
['male', "associate's degree", 'none', '47', '57', '44'],
['male', 'some college', 'none', '76', '78', '75'],
['female', "associate's degree", 'none', '71', '83', '78'],
['female', 'some college', 'completed', '88', '95', '92'],
['male', 'some college', 'none', '40', '43', '39'],
['male', 'high school', 'completed', '64', '64', '67'],
['female', 'high school', 'none', '38', '60', '50'],
['male', "associate's degree", 'none', '58', '54', '52'],
['male', "associate's degree", 'none', '40', '52', '43'],
['female', 'high school', 'none', '65', '81', '73'],
['male', 'some college', 'completed', '78', '72', '70'],
['female', "master's degree", 'none', '50', '53', '58'],
['female', 'some high school', 'none', '69', '75', '78'],
['male', 'high school', 'none', '88', '89', '86'],
['female', 'some high school', 'none', '18', '32', '28'],
['male', "master's degree", 'completed', '46', '42', '46'],
['female', "associate's degree", 'none', '54', '58', '61'],
['male', 'high school', 'none', '66', '69', '63'],
['female', 'some college', 'completed', '65', '75', '70'],
['male', 'some college', 'none', '44', '54', '53'],
['female', 'some high school', 'none', '69', '73', '73'],
['male', "bachelor's degree", 'completed', '74', '71', '80'],
['male', "master's degree", 'none', '73', '74', '72'],
['male', 'some college', 'none', '69', '54', '55'],
['female', "bachelor's degree", 'none', '67', '69', '75'],
['male', 'high school', 'none', '70', '70', '65'],
['female', "master's degree", 'none', '62', '70', '75'],
['female', 'some college', 'none', '69', '74', '74'],
['female', 'some college', 'none', '63', '65', '61'],
['female', "master's degree", 'none', '56', '72', '65'],
['male', 's6ome college', 'none', '40', '42', '38'],
['male', 'some college', 'none', '97', '87', '82'],
['male', "associate's degree", 'completed', '81', '81', '79'],
['female', "associate's degree", 'none', '74', '81', '83'],
['female', 'some high school', 'none', '50', '64', '59'],
['female', "associate's degree", 'completed', '75', '90', '88'],
]
selected_column=int(input("selct score Column (3= math,4=reading 5= writing:"))
print("**************************")
#initialize degree score
master_degree_score=0
bachelor_degree_score=0
m_degree_list=[]
b_degree_list=[]
#score specified to gender
female_score_sum=0
male_score_sum=0
male_score_list=[]
female_score_list=[]
for i in range(len(data)):
    degree=data[i][1]
    gender=data[i][0]
    score=data[i][selected_column]
#condition for degree master/bachelor
if degree=="master's degree":
    m_degree_list.append(score)
master_degree_score+=int(score)
if degree=="bachelor's degree":
    b_degree_list.append(score)
bachelor_degree_score+=int(score)
#condition for gender
if gender=='female':
    male_score_list.append(int(score))
    female_score_sum+=int(score)
elif gender=='male':
    female_score_list.append(int(score))
    male_score_sum+=int(score)
#claculate persons with degree
m_level_parents=len(m_degree_list)
b_level_parents=len(b_degree_list)
some_degree=len(data)-m_level_parents-b_level_parents
#check Who got max marks
male_max=max(male_score_list)
female_max=max(female_score_list)
if male_max >female_max:
    print("male has high score with marks",(male_max))
else:
    print("female has highest marks with marks",format(female_max))
#scores with respect to degree
print("***************************************")
print("list of score with parental Master's degree ",m_degree_list)
print("list of score with parental Bachelor's degree",b_degree_list)
print("sum of score with parental Master's degree is ",master_degree_score)
print("sum of score with parental Bachelor's degree is ",bachelor_degree_score)
#how many parents have master bachelor degree etc
print("********************")
print("{} parents are Masters , {} are Bachelors and {} are Some college level".format(m_level_parents,b_level_parents,some_degree))
print("******************")
print("female score sum in {} is {} ".format( labels[selected_column],female_score_sum))
print("Male score sum in {} is {}".format(labels[selected_column],male_score_sum))
print("Male list \n",male_score_list)
print("female_score_list \n",female_score_list)
#degree scores
"""

selct score Column (3= math,4=reading 5= writing:3
**************************

ValueError: max() arg is an empty sequence

In [2]:
# Input Data
"""
labels=['gender', 'parental level of education', 'test preparation course', 'math score', 'reading score', 'writing score']
data = [ 
   ['female', "bachelor's degree", 'non1e', '72', '72', '74'], 
  ['female', 'some college', 'completed', '69', '90', '88'], 
  ['female', "master's degree", 'none', '90', '95', '93'], 
  ['male', "associate's degree", 'none', '47', '57', '44'], 
  ['male', 'some college', 'none', '76', '78', '75'], 
  ['female', "associate's degree", 'none', '71', '83', '78'], 
  ['female', 'some college', 'completed', '88', '95', '92'], 
  ['male', 'some college', 'none', '40', '43', '39'], 
  ['male', 'high school', 'completed', '64', '64', '67'], 
  ['female', 'high school', 'none', '38', '60', '50'], 
  ['male', "associate's degree", 'none', '58', '54', '52'], 
 ['male', "associate's degree", 'none', '40', '52', '43'], 
 ['female', 'high school', 'none', '65', '81', '73'], 
 ['male', 'some college', 'completed', '78', '72', '70'], 
 ['female', "master's degree", 'none', '50', '53', '58'], 
 ['female', 'some high school', 'none', '69', '75', '78'], 
 ['male', 'high school', 'none', '88', '89', '86'], 
 ['female', 'some high school', 'none', '18', '32', '28'], 
 ['male', "master's degree", 'completed', '46', '42', '46'], 
 ['female', "associate's degree", 'none', '54', '58', '61'], 
 ['male', 'high school', 'none', '66', '69', '63'], 
 ['female', 'some college', 'completed', '65', '75', '70'], 
 ['male', 'some college', 'none', '44', '54', '53'], 
 ['female', 'some high school', 'none', '69', '73', '73'], 
 ['male', "bachelor's degree", 'completed', '74', '71', '80'], 
 ['male', "master's degree", 'none', '73', '74', '72'], 
 ['male', 'some college', 'none', '69', '54', '55'], 
 ['female', "bachelor's degree", 'none', '67', '69', '75'], 
 ['male', 'high school', 'none', '70', '70', '65'], 
 ['female', "master's degree", 'none', '62', '70', '75'], 
 ['female', 'some college', 'none', '69', '74', '74'], 
 ['female', 'some college', 'none', '63', '65', '61'], 
 ['female', "master's degree", 'none', '56', '72', '65'], 
 ['male', 'some college', 'none', '40', '42', '38'], 
 ['male', 'some college', 'none', '97', '87', '82'], 
 ['male', "associate's degree", 'completed', '81', '81', '79'], 
 ['female', "associate's degree", 'none', '74', '81', '83'], 
 ['female', 'some high school', 'none', '50', '64', '59'], 
 ['female', "associate's degree", 'completed', '75', '90', '88'], 
]
#########################
#Q1 Solution
femaleSum    = 0
maleSum    = 0

# Processing
scoreColumn = int(input("score Column (3= math,4=reading 5= writing)"))
if scoreColumn > 3 and scoreColumn <6:
    for innerList in data:
        if InnerList[0] == 'female':
            femalesSum = femaleSum + int(innerList[scoreColumn])
        else:
            malesSum = maleSum + int(innerList[scoreColumn])

############
#Decision Making
print("Females Score Total =", femaleSum, " Male Score Total =", maleSum) 

if femaleSum > maleSum:
    print("Famles performance is better than Males in ", labels[scoreColumn])
elif femaleSum < maleSum:
    print("Males performance is better than Females in ", labels[scoreColumn])
else:
    print("Same level of performance", labels[scoreColumn])

"""

'\nlabels=[\'gender\', \'parental level of education\', \'test preparation course\', \'math score\', \'reading score\', \'writing score\']\ndata = [ \n   [\'female\', "bachelor\'s degree", \'non1e\', \'72\', \'72\', \'74\'], \n  [\'female\', \'some college\', \'completed\', \'69\', \'90\', \'88\'], \n  [\'female\', "master\'s degree", \'none\', \'90\', \'95\', \'93\'], \n  [\'male\', "associate\'s degree", \'none\', \'47\', \'57\', \'44\'], \n  [\'male\', \'some college\', \'none\', \'76\', \'78\', \'75\'], \n  [\'female\', "associate\'s degree", \'none\', \'71\', \'83\', \'78\'], \n  [\'female\', \'some college\', \'completed\', \'88\', \'95\', \'92\'], \n  [\'male\', \'some college\', \'none\', \'40\', \'43\', \'39\'], \n  [\'male\', \'high school\', \'completed\', \'64\', \'64\', \'67\'], \n  [\'female\', \'high school\', \'none\', \'38\', \'60\', \'50\'], \n  [\'male\', "associate\'s degree", \'none\', \'58\', \'54\', \'52\'], \n [\'male\', "associate\'s degree", \'none\', \'40\', \'52\', \'43\'], \n [\'female\', \'high school\', \'none\', \'65\', \'81\', \'73\'], \n [\'male\', \'some college\', \'completed\', \'78\', \'72\', \'70\'], \n [\'female\', "master\'s degree", \'none\', \'50\', \'53\', \'58\'], \n [\'female\', \'some high school\', \'none\', \'69\', \'75\', \'78\'], \n [\'male\', \'high school\', \'none\', \'88\', \'89\', \'86\'], \n [\'female\', \'some high school\', \'none\', \'18\', \'32\', \'28\'], \n [\'male\', "master\'s degree", \'completed\', \'46\', \'42\', \'46\'], \n [\'female\', "associate\'s degree", \'none\', \'54\', \'58\', \'61\'], \n [\'male\', \'high school\', \'none\', \'66\', \'69\', \'63\'], \n [\'female\', \'some college\', \'completed\', \'65\', \'75\', \'70\'], \n [\'male\', \'some college\', \'none\', \'44\', \'54\', \'53\'], \n [\'female\', \'some high school\', \'none\', \'69\', \'73\', \'73\'], \n [\'male\', "bachelor\'s degree", \'completed\', \'74\', \'71\', \'80\'], \n [\'male\', "master\'s degree", \'none\', \'73\', \'74\', \'72\'], \n [\'male\', \'some college\', \'none\', \'69\', \'54\', \'55\'], \n [\'female\', "bachelor\'s degree", \'none\', \'67\', \'69\', \'75\'], \n [\'male\', \'high school\', \'none\', \'70\', \'70\', \'65\'], \n [\'female\', "master\'s degree", \'none\', \'62\', \'70\', \'75\'], \n [\'female\', \'some college\', \'none\', \'69\', \'74\', \'74\'], \n [\'female\', \'some college\', \'none\', \'63\', \'65\', \'61\'], \n [\'female\', "master\'s degree", \'none\', \'56\', \'72\', \'65\'], \n [\'male\', \'some college\', \'none\', \'40\', \'42\', \'38\'], \n [\'male\', \'some college\', \'none\', \'97\', \'87\', \'82\'], \n [\'male\', "associate\'s degree", \'completed\', \'81\', \'81\', \'79\'], \n [\'female\', "associate\'s degree", \'none\', \'74\', \'81\', \'83\'], \n [\'female\', \'some high school\', \'none\', \'50\', \'64\', \'59\'], \n [\'female\', "associate\'s degree", \'completed\', \'75\', \'90\', \'88\'], \n]\n#########################\n#Q1 Solution\nfemaleSum    = 0\nmaleSum    = 0\n\n# Processing\nscoreColumn = int(input("score Column (3= math,4=reading 5= writing)"))\nif scoreColumn > 3 and scoreColumn <6:\n    for innerList in data:\n        if InnerList[0] == \'female\':\n            femalesSum = femaleSum + int(innerList[scoreColumn])\n        else:\n            malesSum = maleSum + int(innerList[scoreColumn])\n\n############\n#Decision Making\nprint("Females Score Total =", femaleSum, " Male Score Total =", maleSum) \n\nif femaleSum > maleSum:\n    print("Famles performance is better than Males in ", labels[scoreColumn])\nelif femaleSum < maleSum:\n    print("Males performance is better than Females in ", labels[scoreColumn])\nelse:\n    print("Same level of performance", labels[scoreColumn])\n\n'

In [79]:
student_name=['owais','faheem','nawaz','moin','ali','iftikhar','waheed','arshad','salah','rida','akram'
            ,'rimsha','nayla','shakir','alyan','mukhtar','rahila','martin','rafia','ayesha','humauid']
# How many chance that the student name start with "a" got schlor ship
n=len(student_name)
e=[]
for a  in student_name:
    if a[0]=="a":
        e.append(a)
        R=len(e)
r=n-R
def factorial (n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
n_=factorial(n)
def factorial(r):
    if r==0:
        return 1
    else:
        return (r)*factorial(r-1)
nr=factorial(r)
#print(r)
p=n_/nr
print(p)

2441880.0

In [31]:
a=list(range(1,n+1))
for A in a:
    print(type(A))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [43]:
 2432902008176640000*21

51090942171709440000