In [1]:
NAME=input("Coustomer Name ")
A=int(input("Amount ")

          
#if A<=50:
     Bill=A+A/1000
  #    print("Tip is 0.1%")
#if A<=200:
     # Bill=A+A/500
      #print("Tip is 0.2%")
if A>200:
      Bill=A+A/100
      print("Tip is 1%")
print(f"Total Amount is {Bill}")

SyntaxError: invalid syntax (<ipython-input-1-51c582094446>, line 6)

In [ ]:
a = True 
while a:
    C=input(" ")
    if C != "Bill":
        a = False
        break
    Name=input("costumer Name ")
    s=int(input("Amount Recive = "))
    A=int(input("Bill = "))
    if A<=50:
        B=A+A/1000
        print("Tip is 0.1%")
    elif A<=200:
        B=A+A/500
        print("Tip is 0.2%")
    elif A>200:
        B=A+A/100
        print("Tip is 1%")
    c= s-B
    print(f"Amount Detected = {B}")
    print(f"Amount Return = {c}")

In [2]:
#### Python program to calculate number of days between two dates

a1=int(input("Enter the year of day one "))
b1=int(input("Enter the month of day one "))
c1=int(input("Enter the date of day one "))
a2=int(input("Enter the year of last day "))
b2=int(input("Enter the month of last day "))
c2=int(input("Enter the date of last day "))
from datetime import date
fdate= date(a1,b1,c1)
ldate= date(a2,b2,c2)
daybetw= fdate-ldate
print(daybetw)

Enter the year of day one s

ValueError: invalid literal for int() with base 10: 's'

In [ ]:
a=int(input("Enter the Year "))
b=int(input("Enter the Month and for whole year clander Enter 0 "))
import calendar
if b==0:
    print(calendar.calendar(a))
if b>0:
    print(calender.month(a,b))

In [ ]:


a1=int(input("Enter the year of day one "))
b1=int(input("Enter the month of day one "))
c1=int(input("Enter the date of day one "))
a2=int(input("Enter the year of last day "))
b2=int(input("Enter the month of last day "))
c2=int(input("Enter the date of last day "))
from datetime import date
fdate= date(a1,b1,c1)
ldate= date(a2,b2,c2)
daybetw= fdate-ldate
#years=daybetw
#if 
print(f"you are {daybetw} old")

In [ ]:
######8.	Write a Python program to get a string which is n (non-negative integer) copies of a given string
A=input("Enter an string ")
B=int(input("Enter an non negative integer "))
for a in range(B):
    print(A)

In [8]:
A=["owais","ali","arshad","ahmed","john","nabeel","Huzaifa","moin","Afridi","asgar","yosuf","esa"]
for name in A:
    print(f"Hi!{name}")
    print("you are invite to a poll party")

Hi!owais
you are invite to a poll party
Hi!ali
you are invite to a poll party
Hi!arshad
you are invite to a poll party
Hi!ahmed
you are invite to a poll party
Hi!john
you are invite to a poll party
Hi!nabeel
you are invite to a poll party
Hi!Huzaifa
you are invite to a poll party
Hi!moin
you are invite to a poll party
Hi!Afridi
you are invite to a poll party
Hi!asgar
you are invite to a poll party
Hi!yosuf
you are invite to a poll party
Hi!esa
you are invite to a poll party

In [20]:
f=[1,2,3]
b=[1,2,3,4,5]
c=list(set(b)-set(a))
print(c)

[4, 5]

In [39]:
with open("owais.txt","w")as file:
    A=file.write("wtf")
print(A)

3

In [90]:
# Input Data
Labels = ['gender', 'parental level of education', 'test preparation course', 'math score', 'reading score', 'writing score'], 
Data = [ 
   ['female', "bachelor's degree", 'none', 72, 72, 74], 
  ['female', 'some college', 'completed', 69, 90, 88], 
  ['female', "master's degree", 'none', 90, 95, 93], 
  ['male', "associate's degree", 'none', 47, 57, 44], 
  ['male', 'some college', 'none', 76, 78, 75], 
  ['female', "associate's degree", 'none', 71, 83, 78], 
  ['female', 'some college', 'completed', 88, 95, 92], 
  ['male', 'some college', 'none', 40, 43, 39], 
  ['male', 'high school', 'completed', 64, 64, 67], 
  ['female', 'high school', 'none', 38, 60, 50], 
  ['male', "associate's degree", 'none', 58, 54, 52], 
 ['male', "associate's degree", 'none', 40, 52, 43], 
 ['female', 'high school', 'none', 65, 81, 73], 
 ['male', 'some college', 'completed', 78, 72, 70], 
 ['female', "master's degree", 'none', 50, 53, 58], 
 ['female', 'high school', 'none', 69, 75, 78], 
 ['male', 'high school', 'none', 88, 89, 86], 
 ['female', 'high school', 'none', 18, 32, 28], 
 ['male', "master's degree", 'completed', 46, 42, 46], 
 ['female', "associate's degree", 'none', 54, 58, 61], 
 ['male', 'high school', 'none', 66, 69, 63], 
 ['female', 'some college', 'completed', 65, 75, 70], 
 ['male', 'some college', 'none', 44, 54, 53], 
 ['female', 'high school', 'none', 69, 73, 73], 
 ['male', "bachelor's degree", 'completed', 74, 71, 80], 
 ['male', "master's degree", 'none', 73, 74, 72], 
 ['male', 'some college', 'none', 69, 54, 55], 
 ['female', "bachelor's degree", 'none', 67, 69, 75], 
 ['male', 'high school', 'none', 70, 70, 65], 
 ['female', "master's degree", 'none', 62, 70, 75], 
 ['female', 'some college', 'none', 69, 74, 74], 
 ['female', 'some college', 'none', 63, 65, 61], 
 ['female', "master's degree", 'none', 56, 72, 65], 
 ['male', 'some college', 'none', 40, 42, 38], 
 ['male', 'some college', 'none', 97, 87, 82], 
 ['male', "associate's degree", 'completed', 81, 81, 79], 
 ['female', "associate's degree", 'none', 74, 81, 83], 
 ['female', 'high school', 'none', 50, 64, 59], 
 ['female', "associate's degree", 'completed', 75, 90, 88], 
]
#male_mathscore=0
#male_readscore=0
#male_writingscore=0
"""
c=[]
d=[]
e=[]
f=[]
g=[]
h=[]
for a in data:
    if a[0]=="male":
        c.append(a[3])
        male_mathscore=sum(c)
        d.append(a[4])
        male_readscore=sum(d)
        e.append(a[5])
        male_writescore=sum(e)
    if a[0]=="female":
        f.append(a[3])
        female_mathscore=sum(f)
        g.append(a[4])
        female_readscore=sum(g)
        h.append(a[5])
        female_writescore=sum(h)
    if a[1] == "associate's degree":
        print(1)
    elif a[1]=="master's degree":
        print(0.7)
    elif a[1]=="bachelor's degree":
        print(0.65)
    elif a[1]=="some collage":
        print(0.6)
    elif a[1]=="high school":
        print(0.5)
Total_male_score=male_mathscore+male_readscore+male_writescore
Total_female_score=female_mathscore+female_readscore+female_writescore
print("Male's total score in Math's is",male_mathscore)
print("Male's total score in reading is",male_readscore)
print("Male's total score in writing is",male_writescore)
print("Male's total score is",Total_male_score)
print("Female's total score in Math's is",female_mathscore)
print("Female's total score in reading is",female_readscore)
print("Female's total score in writing is",female_writescore)
print("Female's total score is",Total_female_score)
print("Number of Total Male candidate is",len(c))
print("Number of Total Female candidate is",len(h))'''
#for i in data:
"""

'\nc=[]\nd=[]\ne=[]\nf=[]\ng=[]\nh=[]\nfor a in data:\n    if a[0]=="male":\n        c.append(a[3])\n        male_mathscore=sum(c)\n        d.append(a[4])\n        male_readscore=sum(d)\n        e.append(a[5])\n        male_writescore=sum(e)\n    if a[0]=="female":\n        f.append(a[3])\n        female_mathscore=sum(f)\n        g.append(a[4])\n        female_readscore=sum(g)\n        h.append(a[5])\n        female_writescore=sum(h)\n    if a[1] == "associate\'s degree":\n        print(1)\n    elif a[1]=="master\'s degree":\n        print(0.7)\n    elif a[1]=="bachelor\'s degree":\n        print(0.65)\n    elif a[1]=="some collage":\n        print(0.6)\n    elif a[1]=="high school":\n        print(0.5)\nTotal_male_score=male_mathscore+male_readscore+male_writescore\nTotal_female_score=female_mathscore+female_readscore+female_writescore\nprint("Male\'s total score in Math\'s is",male_mathscore)\nprint("Male\'s total score in reading is",male_readscore)\nprint("Male\'s total score in writing is",male_writescore)\nprint("Male\'s total score is",Total_male_score)\nprint("Female\'s total score in Math\'s is",female_mathscore)\nprint("Female\'s total score in reading is",female_readscore)\nprint("Female\'s total score in writing is",female_writescore)\nprint("Female\'s total score is",Total_female_score)\nprint("Number of Total Male candidate is",len(c))\nprint("Number of Total Female candidate is",len(h))\'\'\'\n#for i in data:\n'

In [113]:
# Input Data
Labels = ['gender', 'parental level of education', 'test preparation course', 'math score', 'reading score', 'writing score'], 
Data = [ 
   ['female', "bachelor's degree", 'none', 72, 72, 74], 
  ['female', 'some college', 'completed', 69, 90, 88], 
  ['female', "master's degree", 'none', 90, 95, 93], 
  ['male', "associate's degree", 'none', 47, 57, 44], 
  ['male', 'some college', 'none', 76, 78, 75], 
  ['female', "associate's degree", 'none', 71, 83, 78], 
  ['female', 'some college', 'completed', 88, 95, 92], 
  ['male', 'some college', 'none', 40, 43, 39], 
  ['male', 'high school', 'completed', 64, 64, 67], 
  ['female', 'high school', 'none', 38, 60, 50], 
  ['male', "associate's degree", 'none', 58, 54, 52], 
 ['male', "associate's degree", 'none', 40, 52, 43], 
 ['female', 'high school', 'none', 65, 81, 73], 
 ['male', 'some college', 'completed', 78, 72, 70], 
 ['female', "master's degree", 'none', 50, 53, 58], 
 ['female', 'high school', 'none', 69, 75, 78], 
 ['male', 'high school', 'none', 88, 89, 86], 
 ['female', 'high school', 'none', 18, 32, 28], 
 ['male', "master's degree", 'completed', 46, 42, 46], 
 ['female', "associate's degree", 'none', 54, 58, 61], 
 ['male', 'high school', 'none', 66, 69, 63], 
 ['female', 'some college', 'completed', 65, 75, 70], 
 ['male', 'some college', 'none', 44, 54, 53], 
 ['female', 'high school', 'none', 69, 73, 73], 
 ['male', "bachelor's degree", 'completed', 74, 71, 80], 
 ['male', "master's degree", 'none', 73, 74, 72], 
 ['male', 'some college', 'none', 69, 54, 55], 
 ['female', "bachelor's degree", 'none', 67, 69, 75], 
 ['male', 'high school', 'none', 70, 70, 65], 
 ['female', "master's degree", 'none', 62, 70, 75], 
 ['female', 'some college', 'none', 69, 74, 74], 
 ['female', 'some college', 'none', 63, 65, 61], 
 ['female', "master's degree", 'none', 56, 72, 65], 
 ['male', 'some college', 'none', 40, 42, 38], 
 ['male', 'some college', 'none', 97, 87, 82], 
 ['male', "associate's degree", 'completed', 81, 81, 79], 
 ['female', "associate's degree", 'none', 74, 81, 83], 
 ['female', 'high school', 'none', 50, 64, 59], 
 ['female', "associate's degree", 'completed', 75, 90, 88], 
]
scoreColumn=int(input("selct score Column (1=parental level of education=3= math,4=reading 5= writing: "))
Bedu=[]
Medu=[]
Scollageedu=[]
scoreSum=0
maleSum=0
femaleSum=0
for i in data:
 #   if i[0]=="male":
        if i[1] == "associate's degree":
            scoreSum=scoreSum+5
        elif i[1]=="master's degree":
            scoreSum=scoreSum+4
        elif i[1]=="bachelor's degree":
            scoreSum=scoreSum+3
        elif i[1]=="some collage":
            scoreSum=2+scoreSum
        elif i[1]=="high school":
            scoreSum=1+scoreSum
        if i[0]=="male":
            maleSum= scoreSum+maleSum
        else:
            femaleSum= scoreSum+femaleSum
    #elif i[0]=="female":
     #   if i[1] == "associate's degree":
     #       femaleSum+5
     #   elif i[1]=="master's degree":
      #      femaleSum+4
      #  elif i[1]=="bachelor's degree":
     #       femaleSum+3
      #  elif i[1]=="master's degree":
       #     femaleSum+2
      #  elif i[1]=="high school":
     #       femaleSum+1
        if i[1]=="bachelor's degree":
            Bedu.append(i[1])
        elif i[1]=="master's degree":
            Medu.append(i[1])
        elif i[1]=="some college":
             Scollageedu.append(i[1])
#print(maleSum)
#print(femaleSum)
##############################################################################

#Decision Making
print("Females Score Total =", femaleSum, " Male Score Total =", maleSum) 

if femaleSum > maleSum:
    print("Famles performance is better than Males in ", labels[scoreColumn])
elif femaleSum < maleSum:
    print("Males performance is better than Females in ", labels[scoreColumn])
else:
    print("Same level of performance", labels[scoreColumn])

##################################################################################

print("Number parents who have master lavel education background is",len(Medu))
print("Number parents who have bachelor's lavel education background is",len(Bedu))
print("Number parents who have some college lavel education background is",len(Scollageedu))

selct score Column (3= math,4=reading 5= writing: 1
Females Score Total = 883  Male Score Total = 729
Famles performance is better than Males in  parental level of education
Number parents who have master lavel education background is 6
Number parents who have bachelor's lavel education background is 3
Number parents who have some college lavel education background is 12

# Numpy

In [13]:
Alist=[[1,2,3],[4,5,6]]
S=Alist*2
print(S)

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [1]:
import numpy as np

In [18]:
a=[1,23,45,56,67,32]
b=[32,54,67,8,12,43]
c=[]
D=[]
for i in range(0,len(a)):
    for A in a:
        if A in b:
            _A=a.pop(a.index(A))
            c.append(_A)
            b.remove(A)
for _B in range(1,len(b)+1):
    B=_B*-1
    print(f"{a[_B-1]}*{b[B]}={a[_B-1]*b[B]}")
    D.append(d)
import numpy as np
CP=np.cumprod(D)
print(c)
print(d)
print(CP[-1])

1*43=43
23*12=276
45*8=360
56*54=3024

TypeError: cannot perform accumulate with flexible type

In [19]:
a=[1,23,45,56,67,32]
b=[32,54,67,8,12,43]
c=[]
D=[]
for i in range(0,len(a)):
    for A in a:
        if A in b:
            _A=a.pop(a.index(A))
            c.append(_A)
            b.remove(A)
for _B in range(1,len(b)+1):
    B=_B*-1
    d=a[_B-1]*b[B]
    D.append(d)
    print(f"{a[_B-1]}*{b[B]}=",d)
import numpy as np
CP=np.cumprod(D)
print(c)
print(CP[-1])

1*43= 43
23*12= 276
45*8= 360
56*54= 3024
[67, 32]
35077632

In [43]:
for A in a:
    if A in b:
        c.append(A)
    elif A not in b:
        for i in range(1,len(b)+1):
            _i=i*-1
            print(f"{a[i-1]}*{b[_i]}={a[i-1]*b[_i]}")

1*43=43
23*12=276
45*8=360
56*54=3024
1*43=43
23*12=276
45*8=360
56*54=3024
1*43=43
23*12=276
45*8=360
56*54=3024
1*43=43
23*12=276
45*8=360
56*54=3024

In [49]:
for A in a:
    if A in b:
        c.append(A)
    elif A not in b:
        for i in range(1,len(b)+1):
            _i=i*-1
            print(f"{a[i-1]*b[_i]}")

43
276
360
3024
43
276
360
3024
43
276
360
3024
43
276
360
3024

In [42]:
L=np.zeros(4)

In [20]:
L
type(L[0])

numpy.float64

In [3]:
P=np.ones(4)
P

array([1., 1., 1., 1.])

In [7]:
L=np.empty(4)
L.dtype
L.shape=(2,2)
L
D=np.linspace(int(2,10))
#D=np.arange(2,20,5)
D

TypeError: int() can't convert non-string with explicit base

In [39]:
J=np.array((2,5,6,7,8))
print(J)
Blist=np.array(Alist)
B=Blist*2
print(B)

[2 5 6 7 8]
[[ 2  4  6]
 [ 8 10 12]]

In [56]:
print(Blist.shape)
print(J.shape)
#list_name.(TAB)
#give all function of array
#Use "?" to see all the documentation of numpy
#no diff in indexing of python & numpy
#if you do any math operation in list of numpy it apply these function on character of list
# list@list give dot product of list characters

(2, 3)
(5,)

In [53]:
H=np.random.randint(100,size=33)
H[H>40]

array([74, 70, 94, 70, 41, 72, 55, 91, 45, 55, 87, 78, 61, 89, 98, 49, 73,
       72, 93, 43])

In [57]:
an=np.array([1,2,3,4,5,6,7,8,9])
An=np.array([2,34,5,7,8,4,9,2,7])
np.where(an>An,an,An)

array([ 2, 34,  5,  7,  8,  6,  9,  8,  9])

In [58]:
result=np.array([54,12,34,56,76,90,23])
np.where(result>40,"pass","fail")

array(['pass', 'fail', 'fail', 'pass', 'pass', 'pass', 'fail'],
      dtype='<U4')

In [8]:
A=np.array([1,2,3,4,5,6,7,8,9])
A.mean()
A.cumsum()#cmutative addition
A.cumprod()#cumuative product

array([     1,      2,      6,     24,    120,    720,   5040,  40320,
       362880], dtype=int32)

In [76]:
Z=A>5
Z

array([False, False, False, False, False,  True,  True,  True,  True])

In [72]:
Z.sum()

4

In [73]:
Z.any()

True

In [74]:
Z.all()

False

In [81]:
T=np.array([5,76,5,4,763,5,9,4,7,9,0,3,7675,53,54,53])
T.sort()
np.unique(T)

array([   0,    3,    4,    5,    7,    9,   53,   54,   76,  763, 7675])

In [99]:
A1=["bjdghas","bsdwale","njjf",32,'232','fsfe']
A2=[4,'jkh5',45,'5e','ergf','grger','wefe',453]
np.save("sub1.npy",A1)
L1=np.load("sub1.npy")
print(L1)
np.savez("sub2",A1=A1,A2=A2)
L2=np.load("sub2.npz")
L2["A2"]

['bjdghas' 'bsdwale' 'njjf' '32' '232' 'fsfe']

array(['4', 'jkh5', '45', '5e', 'ergf', 'grger', 'wefe', '453'],
      dtype='<U11')

In [102]:
np.random.normal(9,size=(3,3))

array([[10.89147411,  9.34161224,  9.27740505],
       [ 8.05545992,  8.14648416,  7.31694771],
       [10.24203919,  9.14056696,  8.96809655]])

In [103]:
#np.random.TAB

In [11]:
n=list(range(1,22))
N=np.array(n)
N.cumprod()

array([          1,           2,           6,          24,         120,
               720,        5040,       40320,      362880,     3628800,
          39916800,   479001600,  1932053504,  1278945280,  2004310016,
        2004189184,  -288522240,  -898433024,   109641728, -2102132736,
       -1195114496], dtype=int32)

In [41]:
a=np.arange(1,13)
print(a)
print(a.reshape(2,6))#a.reshape(no_of_rows,no_of_colunm)
#ORDER
#by default reshape has "C" order which arange list charactetr left to right but here is a "F" order also who arange in top to bottom partern
print(a.reshape(2,6, order ="C"))
##################################################
print(a.reshape(6,2, order ="F"))

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
[[ 1  7]
 [ 2  8]
 [ 3  9]
 [ 4 10]
 [ 5 11]
 [ 6 12]]

In [29]:
A=np.arange(1,13)
b=A.reshape(2,3,2,order="C")
print(b)
b.ravel()#it arange the multi dimensiol array in one dimension(ravel/flatten)
b.flatten()

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

# Concatenate & Spliting

In [49]:
y=np.array(A)
Y=np.array(a)
print(y)
np.concatenate((y,Y),axis=)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [60]:
W=np.hstack((Y,y))
w=np.vstack((y,Y))
w
W

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12])

In [67]:
np.split(W,[4,9,13,20])#[index npo from which i have to split]

[array([1, 2, 3, 4]),
 array([5, 6, 7, 8, 9]),
 array([10, 11, 12,  1]),
 array([2, 3, 4, 5, 6, 7, 8]),
 array([ 9, 10, 11, 12])]

In [70]:
f=np.array(W)
print(f)
print(f.repeat(5))
print(np.repeat(f,2))

[ 1  2  3  4  5  6  7  8  9 10 11 12  1  2  3  4  5  6  7  8  9 10 11 12]
[ 1  1  1  1  1  2  2  2  2  2  3  3  3  3  3  4  4  4  4  4  5  5  5  5
  5  6  6  6  6  6  7  7  7  7  7  8  8  8  8  8  9  9  9  9  9 10 10 10
 10 10 11 11 11 11 11 12 12 12 12 12  1  1  1  1  1  2  2  2  2  2  3  3
  3  3  3  4  4  4  4  4  5  5  5  5  5  6  6  6  6  6  7  7  7  7  7  8
  8  8  8  8  9  9  9  9  9 10 10 10 10 10 11 11 11 11 11 12 12 12 12 12]
[ 1  1  2  2  3  3  4  4  5  5  6  6  7  7  8  8  9  9 10 10 11 11 12 12
  1  1  2  2  3  3  4  4  5  5  6  6  7  7  8  8  9  9 10 10 11 11 12 12]

In [73]:
k=np.array([1,2,3,4])
np.tile(k,3)

array([1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])

In [77]:
a=np.array([[1,3],[4,6]],dtype=complex)
a

array([[1.+0.j, 3.+0.j],
       [4.+0.j, 6.+0.j]])

In [78]:
from numpy import pi

In [80]:
from numpy import pi
v=np.linspace( 0, 2, 9 )                 # 9 numbers from 0 to 2
#array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])
x = np.linspace( 0, 2*pi, 100 )        # useful to evaluate function at lots of points
f = np.sin(x)
print(v)
print(x)
print(f)

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]
[0.         0.06346652 0.12693304 0.19039955 0.25386607 0.31733259
 0.38079911 0.44426563 0.50773215 0.57119866 0.63466518 0.6981317
 0.76159822 0.82506474 0.88853126 0.95199777 1.01546429 1.07893081
 1.14239733 1.20586385 1.26933037 1.33279688 1.3962634  1.45972992
 1.52319644 1.58666296 1.65012947 1.71359599 1.77706251 1.84052903
 1.90399555 1.96746207 2.03092858 2.0943951  2.15786162 2.22132814
 2.28479466 2.34826118 2.41172769 2.47519421 2.53866073 2.60212725
 2.66559377 2.72906028 2.7925268  2.85599332 2.91945984 2.98292636
 3.04639288 3.10985939 3.17332591 3.23679243 3.30025895 3.36372547
 3.42719199 3.4906585  3.55412502 3.61759154 3.68105806 3.74452458
 3.8079911  3.87145761 3.93492413 3.99839065 4.06185717 4.12532369
 4.1887902  4.25225672 4.31572324 4.37918976 4.44265628 4.5061228
 4.56958931 4.63305583 4.69652235 4.75998887 4.82345539 4.88692191
 4.95038842 5.01385494 5.07732146 5.14078798 5.2042545  5.26772102
 5.33118753 5.39465405 5.45812057 5.52158709 5.58505361 5.64852012
 5.71198664 5.77545316 5.83891968 5.9023862  5.96585272 6.02931923
 6.09278575 6.15625227 6.21971879 6.28318531]
[ 0.00000000e+00  6.34239197e-02  1.26592454e-01  1.89251244e-01
  2.51147987e-01  3.12033446e-01  3.71662456e-01  4.29794912e-01
  4.86196736e-01  5.40640817e-01  5.92907929e-01  6.42787610e-01
  6.90079011e-01  7.34591709e-01  7.76146464e-01  8.14575952e-01
  8.49725430e-01  8.81453363e-01  9.09631995e-01  9.34147860e-01
  9.54902241e-01  9.71811568e-01  9.84807753e-01  9.93838464e-01
  9.98867339e-01  9.99874128e-01  9.96854776e-01  9.89821442e-01
  9.78802446e-01  9.63842159e-01  9.45000819e-01  9.22354294e-01
  8.95993774e-01  8.66025404e-01  8.32569855e-01  7.95761841e-01
  7.55749574e-01  7.12694171e-01  6.66769001e-01  6.18158986e-01
  5.67059864e-01  5.13677392e-01  4.58226522e-01  4.00930535e-01
  3.42020143e-01  2.81732557e-01  2.20310533e-01  1.58001396e-01
  9.50560433e-02  3.17279335e-02 -3.17279335e-02 -9.50560433e-02
 -1.58001396e-01 -2.20310533e-01 -2.81732557e-01 -3.42020143e-01
 -4.00930535e-01 -4.58226522e-01 -5.13677392e-01 -5.67059864e-01
 -6.18158986e-01 -6.66769001e-01 -7.12694171e-01 -7.55749574e-01
 -7.95761841e-01 -8.32569855e-01 -8.66025404e-01 -8.95993774e-01
 -9.22354294e-01 -9.45000819e-01 -9.63842159e-01 -9.78802446e-01
 -9.89821442e-01 -9.96854776e-01 -9.99874128e-01 -9.98867339e-01
 -9.93838464e-01 -9.84807753e-01 -9.71811568e-01 -9.54902241e-01
 -9.34147860e-01 -9.09631995e-01 -8.81453363e-01 -8.49725430e-01
 -8.14575952e-01 -7.76146464e-01 -7.34591709e-01 -6.90079011e-01
 -6.42787610e-01 -5.92907929e-01 -5.40640817e-01 -4.86196736e-01
 -4.29794912e-01 -3.71662456e-01 -3.12033446e-01 -2.51147987e-01
 -1.89251244e-01 -1.26592454e-01 -6.34239197e-02 -2.44929360e-16]

In [85]:
np.cos(90)

-0.4480736161291701

In [87]:
print("~~~~~shimy~~~~~~~")

~~~~~shimy~~~~~~~

In [2]:
import numpy as np
my_arr = np.arange(1000000)
my_list = list(range(1000000))

In [4]:
%time for _ in range(10):    my_arr2 = my_arr * 2
my_arr2

Wall time: 51 ms

array([      0,       2,       4, ..., 1999994, 1999996, 1999998])

In [6]:
 %time for _ in range(10): my_list2 = [x * 2 for x in my_list]
my_list2

Wall time: 959 ms

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1016,
 1018,
 1020,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1126,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1192,
 1194,
 1196,
 1198,
 1200,
 1202,
 1204,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1244,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1550,
 1552,
 1554,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1590,
 1592,
 1594,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1694,
 1696,
 1698,
 1700,
 1702,
 1704,
 1706,
 1708,
 1710,
 1712,
 1714,
 1716,
 1718,
 1720,
 1722,
 1724,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740,
 1742,
 1744,
 1746,
 1748,
 1750,
 1752,
 1754,
 1756,
 1758,
 1760,
 1762,
 1764,
 1766,
 1768,
 1770,
 1772,
 1774,
 1776,
 1778,
 1780,
 1782,
 1784,
 1786,
 1788,
 1790,
 1792,
 1794,
 1796,
 1798,
 1800,
 1802,
 1804,
 1806,
 1808,
 1810,
 1812,
 1814,
 1816,
 1818,
 1820,
 1822,
 1824,
 1826,
 1828,
 1830,
 1832,
 1834,
 1836,
 1838,
 1840,
 1842,
 1844,
 1846,
 1848,
 1850,
 1852,
 1854,
 1856,
 1858,
 1860,
 1862,
 1864,
 1866,
 1868,
 1870,
 1872,
 1874,
 1876,
 1878,
 1880,
 1882,
 1884,
 1886,
 1888,
 1890,
 1892,
 1894,
 1896,
 1898,
 1900,
 1902,
 1904,
 1906,
 1908,
 1910,
 1912,
 1914,
 1916,
 1918,
 1920,
 1922,
 1924,
 1926,
 1928,
 1930,
 1932,
 1934,
 1936,
 1938,
 1940,
 1942,
 1944,
 1946,
 1948,
 1950,
 1952,
 1954,
 1956,
 1958,
 1960,
 1962,
 1964,
 1966,
 1968,
 1970,
 1972,
 1974,
 1976,
 1978,
 1980,
 1982,
 1984,
 1986,
 1988,
 1990,
 1992,
 1994,
 1996,
 1998,
 ...]